<h1>{{title}}</h1>
<p>Welcome {{myPosition}}: You are {{myName}}</p>

<div>
    <h2> List of ints: </h2>
    <ul>
        {{#each numbers}}
                <li>{{this}}</li>
            {{/each}}
    </ul>

</div>